@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.portco-box {
  margin-bottom: 2rem;
}
.portco-overview-buttons {
  justify-content: space-between;
  width: 150px;
}

.portco-overview-deck-button {
  background-color: #ff6762 !important;
  color: #fafafa !important;
  font-weight: 700 !important;
  justify-content: space-between;
  margin-bottom: 10px !important;
}
.portco-overview-note-button {
  color: #ff6762 !important;
  background-color: transparent !important;
  border-color: #ff6762 !important;
  font-weight: 700 !important;
  justify-content: space-between;
}
.portco-overview-top {
  justify-content: space-between;
}
img.portco-logo {
  max-width: 100%;
  margin: auto;
  display: flex;
}
.portco-logo-box {
  width: 30%;
  margin-bottom: 2rem;
}
.portco-overview-label {
  font-weight: 700 !important;
  line-height: 1.5rem !important;
}
.portco-overview-card {
  padding: 1rem;
}
.button-icon {
  font-size: 20px !important;
}

.assessment-box {
  justify-content: flex-start;
  height: 100%;
  width: 100%;
}

.assessment-box > *:first-child {
  margin-bottom: 2rem;
}
.current-box {
  justify-content: space-between;
  width: 100%;
}

.assessment-score {
  color: #ff6762;
}
.status {
  width: 30%;
}
.commentary {
  width: 40%;
}
.ass-todos {
  width: 30%;
}

.MuiDataGrid-toolbar button {
  color: #ff6762 !important;
}
.MuiDataGridPanel label {
  color: #ffffff !important;
}
.MuiDataGridPanel button {
  color: #ffffff !important;
}

.MuiDataGridPanel input {
  color: #ffffff !important;
}
.MuiDataGridPanel span {
  color: #ffffff !important;
}

.current-box > * {
  margin-right: 1rem;
  margin-left: 1rem;
}
.current-box > *:first-child {
  margin-left: 0rem !important;
}

.current-box > *:last-child {
  margin-right: 0rem !important;
}

.history-grid {
  padding-top: 1rem;

  padding-right: 1rem;
  padding-left: 1rem;
}
