.rows {
  display: flex !important;
  flex-direction: column !important;
}

.cols {
  display: flex !important;
  flex-direction: row !important;
}
.global-breadcrumbs {
  padding-bottom: 1rem !important;
}

.MuiDataGrid-root {
  border: none !important;
}

.MuiDataGrid-cell {
  /* border-right: 1px solid #484848 !important; */
}
