.rows {
  display: flex !important;
  flex-direction: column !important;
}

.cols {
  display: flex !important;
  flex-direction: row !important;
}
.global-breadcrumbs {
  padding-bottom: 1rem !important;
}

.MuiDataGrid-root {
  border: none !important;
}

hr.vr {
  margin-left: 1rem !important;
  margin-right: 1rem !important;
}
hr.hr {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

button {
  height: 44px !important;
}
