h4.weekly-meeting-title {
  margin-bottom: 2rem;
}

.meeting-notes-text-field {
  width: 100%;
}

.meeting-notes-text-field textarea {
  height: 30vh !important;
}

.notes-data-grid {
  width: 60%;
}
.notes-todos {
  width: 30%;
}

.notes-box-top {
  justify-content: space-between;
}
